
.login-container {
  background: url('./assets/healthGreen.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.queque-page {
  background: url('./assets/bgGreen.jpg');
  display: flex;
  flex-direction: column;
  padding: 2vw;
  min-height: 100vh;
}

.desktop-page{
  background: url('./assets/bgGreen.jpg');
  min-height: 100vh;
  
}

.create-ticket-page{
  background: url('./assets/bgGreen.jpg');
  padding: 10px;
  min-height: 100vh;
  
}

